
html {
    display: flex;
    justify-content: center;
    background-color: rgba(10, 18, 45, 0.844);
}

body {
    min-width: 300px;
    width: 1000px;
    height: 100vh;
    background-image: url("/images/grey-paper-1.png");
}

